[user]
    email = anoopelias@gmail.com
    name = anoopelias

[color]
    diff = auto
    status = auto
    ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold # line info
    old = red # deletions
    new = green # additions

[alias]
    pm= "!git push -u origin master"
    c = commit -m
    a = add
    s = status
    cob = checkout -b

[push]
    default = simple
[pager]
	log = false
